.brg_login{
    width: 700px;
    height:600px;
    margin: 0 auto;
    background-color:#EDF3F9;
}
.brg_box{
    padding:20px;
    text-align:center;
    border-radius:10px;
    background-color:#9999FF;
}
.padding_header{
    padding-top:100px;
}
.header{
    width:300px;
    margin:0 auto;
}

.content{
    width:250px;
    margin:0 auto;
}